{
  "presets": [
    ["es2015", { "loose": true, "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "ignore": [
    "dist/*.js",
    "docs/**/*.js"
  ]
}
